*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h2 {
  margin: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px (for easier calculations)
}

/* Default styles */
body {
  margin: 0;
  font-family: $font-primary;
  background-color: #F9FAFF;
  color: black;
  font-size: 1.6rem; // 16px (default paragraph size)
  line-height: normal;
}

.section-title {
  font-size: $font-size-heading-2;
  color: $primary-text-color;
}

@media (max-width: 480px) {
  .section-title {
    font-size: $font-size-heading-3;
  }
}