
// Colors
$primary-color-1: #000000;
$primary-color-2: #FFBB00;

$primary-light-yellow: #FFCF4B;
$primary-dark-yellow: #FFC422;

$primary-light-grey: #F9F9F9;
$primary-dark-grey: #CEC6C6;

$primary-text-color: #263238;
$secondary-text-color: #65624C;

// Typography
$font-primary: 'Inter', sans-serif;
$font-size-heading-1: 58px;
$font-size-heading-2: 36px;
$font-size-heading-3: 24px;
$font-size-heading-4: 20px;
$font-size-heading-5: 18px;
$font-size-heading-6: 16px;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Border Radius
$border-radius: 5px;
