@import '../../styles/variables';

.workplace-amenities {
    padding: 4rem 12rem;

    .amenities-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2rem;
    }

    .amenities {
        display: flex;
        align-items: center;
        width: 30rem;
        padding: 2rem;

        .image {
            width: 3rem;
        }

        .text {
            padding-left: 1rem;
            font-size: 1.8rem;
            color: $primary-text-color;
        }
    }

}